<div class="container top">
	<div id="particles-js">		
  <canvas class="particles-js-canvas-el" style= "background-size: cover"></canvas>
	 	<div class="navbar-fixed hidden-xs" id="navbar">
			<ul class="nav-head">
				<li><a id= "toAbout" href="about">About</a></li>
				<li><a id= "toCV" href="CV">Résumé</a></li>
				<li><a id= "toContact" href="contact">Contact</a></li>
			</ul>
		</div>

    <div class="container take-width hidden-sm hidden-md hidden-lg">
      <div class="dropdown">
        <i onclick="openMenu()" class="fa fa-bars fa-lg dropbtn"></i>
        <div id="dropdown" class="dropdown-content">
          <a id="toAbout" href="about">About</a>
          <a id="toResume" href="CV">Résumé</a>
          <a id="toContact" href="contact">Contact</a>
        </div>
      </div>
    </div>
		<div class="header-profile">
    <%= image_tag 'mike.JPG', class: 'avatar', id: "cropped-avatar" %>
			<h1>Mike Shiel</h1>
			<h2>Web-Developer</h2>
			<h3>Bachelors in International Relations (University of Pretoria)</h3>
		</div>	
	</div>
</div>

<!-- about me -->
<div id="about">
	<a name="about"></a>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>About</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 slideDown">
      	<p>Based in the Berlin Area.</p>
        <p>Born in South Africa, I graduated at the University Of Pretoria in International Relations.</p>
        <p>I took a gap year volunteering in the South Eastern Asian region, Mainly in Cambodia.</p>
        <p>I am motivated and an ambitious person and am always seeking to learn new skills and knowlegde to expand my own personal growth. </p>
        
      </div>
      <div class="col-xs-12 col-md-6 slideDown">
        <p>I begun to code at the end of 2016 and immediatley grew a passion for it. I studied at LeWagon in Berlin which helped me improve my abilities a tremendous amount.</p>
        <p>Coding has provided an endless subject of learning, a platform for me to improve on multiple languages with no end in sight.</p>
        <p> I currently work as a freelancer improving my skills through full-stack web-development. I am interested in joining a development team in a start-up where I can learn and improve my coding abilities further.</p>
      </div>
    </div>
  </div>
</div>

<br class= proline>

<!-- My CV -->

<div id="CV">
	<div class="container">
    	<div class="row">
      		<div class="col-xs-12 col-md-6">
           	  <h1>Résumé</h1>
           	  <p>Ruby on Rails</p>
           	  <p>JavaScript</p>
           	  <p>HTML</p>
           	  <p>CSS</p>
           	  <p>& many more check out my resume!</p>
           	  
			<!-- open up my resume -->
        	</div>
    		<div class="col-xs-12 col-md-6 accounts">
    		  <a href="https://www.linkedin.com/in/michael-shiel-549866137/">
    	   	  <i class="fa fa-linkedin"></i></a><p>Linkedin</p>
	   	  	  <a href="https://github.com/MikeShiel">
   	     	  <i class="fa fa-github"></i></a><p>GitHub</p>
   	     	  <div class="resume-link"> <%= link_to "My Resume", asset_path("mikeshielresume.pdf"), class: 'btn-large' %></div>
        	</div>
      	</div>
	</div>
</div>

<br class= pro-line>

<!-- Contact me -->

<div id="contact">
	<div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Contact Me</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <!-- <form class= "form-group" method="POST" action="https://formspree.io/shiel90@gmail.com"> -->
              <!-- <input type="email" name="email" placeholder="Your email"> -->
              <!-- <textarea name="message" placeholder="Your message"></textarea> -->
              <!-- <button type="submit">Send</button> -->
            <!-- </form> -->
              	<form class= "form-group" method="POST" action="https://formspree.io/shiel90@gmail.com">
		            <div class="form-group">
		                <label for="email">What's your email?</label>
		                <input type="email" name="email" class="form-control input-width" required="" placeholder="name@example.com" style="">
		            </div>
		            <div class="form-group">
		              <label for="message">What's your message?</label>
		              <textarea name="message" class="form-control input-width" rows="3" required="" placeholder="Type here.." style=""></textarea>
		            </div>
		              <input type="submit" class="button-contact" value="Submit">
              	</form>
      		</div>
        </div>
	</div>
</div>

