<header id="HEADER_1">
	<div id="DIV_2">
		 
		<button id="BUTTON_3">
			<span id="SPAN_4"></span>
		</button><a href="/" id="A_5"></a>
		<svg id="svg_6">
			<path id="path_7">
			</path>
		</svg>
	</div>
	<div id="DIV_8">
		<ul id="UL_9">
			<li id="LI_10">
				<ul id="UL_11">
					<li id="LI_12">
						 <a href="/about" id="A_13">About Us</a>
					</li>
					<li id="LI_14">
						 <a href="/services" id="A_15">Services</a>
					</li>
					<li id="LI_16">
						 <a href="/projects" id="A_17">Projects</a>
					</li>
				</ul>
			</li>
			<li id="LI_18">
				<a href="/" id="A_19"></a>
				<svg id="svg_20">
					<polygon id="polygon_21">
					</polygon>
					<polygon id="polygon_22">
					</polygon>
					<path id="path_23">
					</path>
					<polygon id="polygon_24">
					</polygon>
					<polygon id="polygon_25">
					</polygon>
					<path id="path_26">
					</path>
					<rect id="rect_27">
					</rect>
					<polygon id="polygon_28">
					</polygon>
					<polygon id="polygon_29">
					</polygon>
					<polygon id="polygon_30">
					</polygon>
					<path id="path_31">
					</path>
					<path id="path_32">
					</path>
				</svg>
			</li>
			<li id="LI_33">
				<ul id="UL_34">
					<li id="LI_35">
						 <a href="/property-management" id="A_36">Property Management</a>
					</li>
					<li id="LI_37">
						 <a href="/news" id="A_38">News</a>
					</li>
					<li id="LI_39">
						 <a href="/contact" id="A_40">Contact</a>
					</li>
				</ul>
			</li>
		</ul>
		<div id="DIV_41">
			 <a href="/chinese" id="A_42">简体中文</a>
		</div>
	</div>
	<div id="DIV_43">
		 
		<button id="BUTTON_44">
			<span id="SPAN_45"></span>
		</button>
		<div id="DIV_46">
			<ul id="UL_47">
				<li id="LI_48">
					<a href="/" id="A_49"><span id="SPAN_50">Home</span></a>
				</li>
				<li id="LI_51">
					 <a href="/about" id="A_52"><span id="SPAN_53">About Us</span></a>
				</li>
				<li id="LI_54">
					 <a href="/services" id="A_55"><span id="SPAN_56">Services</span></a>
				</li>
				<li id="LI_57">
					 <a href="/projects" id="A_58"><span id="SPAN_59">Projects</span></a>
				</li>
				<li id="LI_60">
					 <a href="/property-management" id="A_61"><span id="SPAN_62">Property Management</span></a>
				</li>
				<li id="LI_63">
					 <a href="/news" id="A_64"><span id="SPAN_65">News</span></a>
				</li>
				<li id="LI_66">
					 <a href="/contact" id="A_67"><span id="SPAN_68">Contact</span></a>
				</li>
				<li id="LI_69">
					 <a href="/chinese" id="A_70"><span id="SPAN_71">简体中文</span></a>
				</li>
			</ul>
			<div id="DIV_72">
				<h6 id="H6_73">
					Follow Us
				</h6>
				<div id="DIV_74">
					<div id="DIV_75">
						<a href="https://www.facebook.com/pages/360+Property+Group/142443525807723" id="A_76"></a>
						<svg id="svg_77">
							<use id="use_78">
							</use>
						</svg><a href="https://www.twitter.com/360PropertyGrp" id="A_79"></a>
						<svg id="svg_80">
							<use id="use_81">
							</use>
						</svg><a href="https://www.instagram.com/360propertygroup/" id="A_82"></a>
						<svg id="svg_83">
							<use id="use_84">
							</use>
						</svg><a href="https://www.linkedin.com/company/989685" id="A_85"></a>
						<svg id="svg_86">
							<use id="use_87">
							</use>
						</svg><a href="https://www.youtube.com/user/the360propertygroup" id="A_88"></a>
						<svg id="svg_89">
							<use id="use_90">
							</use>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>