// Google fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:400,100,300,700,500|Permanent+Marker|Titillium+Web");
$base-font: "Titillium Web", "sans-serif";


// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

// color scheme