#particles-js {
  width: 100% !important;
  height: 500px;
  background-color: #2B2D42 ;
  
}

body{
  background-color: $white;
}
	.pro-line{
		border-top: 1px solid red;
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 80px;
	}

.container{
	background-color: $white;
}

.navbar-fixed{
    height: 70px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 3;
    width: 100%;
    background-color: #2E2F31;
	opacity: 0.4;

}

.nav-head{
	font-size: 17pt;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	padding-right: 150px;


	.nav-head a{
	text-decoration: none;
    display: block;
    padding: 0.4em;
    color: #CCD9E2;
    font-weight: 300;
    text-decoration: none;
	}

	#toAbout{
	padding-right: 20px;
	text-decoration: none;
	color: white;
	opacity: 1 !important;
		&:hover{
			color: grey;
		}
	}

	#toCV{
	padding-right: 20px;	
	text-decoration: none;
	color: white;
	opacity: 1;
		&:hover{
			color: grey;
		}
	}

	#toContact{
	padding-right: 20px;
	text-decoration: none;
	color: white;
	opacity: 1;
		&:hover{
			color: grey;
		}	
	}
}

.header-profile{
	visibility: !important;
	position: absolute;
	padding: 150px 1px 0px 50px;

	h1{
	color: $white;
	}
	h2{
	color: $white;	
	}
	h3{
	color: $white;	
	}
}

#about {
	display: block;
    background: $white;
    overflow: hidden;
    min-height: 50vh;
    padding-bottom: 40px;
    padding-top: 100px;

	h1{
		padding-bottom: 20px;
	}

}

#CV {
	display: block;
    background: $white;
    overflow: hidden;
    min-height: 50vh;
    padding-bottom: 40px;

    h1{
    	padding-bottom: 20px;
    }

    p{
    	padding-bottom: 10px;
    }
}

#contact {
	display: block;
    background: $white;
    overflow: hidden;
    min-height: 50vh;
    padding-bottom: 40px;

	h1{
		padding-bottom: 20px;
	}
}

.resume-link{
	padding-top: 20px;
}

.btn-large{
  background-color: $white;
  font-size: 20px;
  height: 50px;
  padding: 10px;
  width: 135px;
  color: $grey2 !important;
  display: block;
  border: 2px solid $grey2;
  border-radius: 3px;
  text-decoration: none;
  	
  	&:hover {
    color: $red !important;
    border: 2px solid $red;
    text-decoration: none;
  }
    &:visited{
    	color: $grey2;
    	text-decoration: none;
    }
}.form-group{
	padding-bottom: 20px;
}

.button-contact{
	background-color: $grey2;
	font-size: 20px;
	height: 50px;
	padding: 10px;
	width: 130px;
	color: $white !important;
	display: block;
	border: 2px solid $grey2;
	border-radius: 3px;
	text-decoration: none;
		
		&:hover {
	  background-color: $red;	
	  color: $white !important;
	  border: 2px solid $red;
	  text-decoration: none;
	}
	  &:visited{
	  	color: $grey2;
	  	text-decoration: none;
	  	background-color: $white;

	  }
}

label{
	padding-bottom: 5px;
	font-family: $base-font;
	font-size: 15px;
}

.accounts{
	padding: 10px 0 0 50px;
	font-size: 50px;
}

.fa-github:hover{
	color: $red;
}

.fa-linkedin:hover {
	color: $red;
}

.particles-js-canvas-el{
	background: cover;
}