.particles-js {
  width: 100vw !important;
  height: 100vh !important;
  background-color: #2B2D42 ; 
  background-size: cover;
}

body{
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  background-color: $white;
}

.proline:br{
	border: 1px solid #2B2D42 !important;
	margin-left: 20% !important;
	margin-right: 20% !important;
	margin-top: 80px !important;
	background-color: #2B2D42 !important;
}

.container{
	background-color: $white;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
}

.navbar-fixed{
    height: 70px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 3;
    width: 100%;
}

.nav-head{
	font-size: 17pt;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	padding-right: 150px;
	padding-top: 10px;


	.nav-head a{
	text-decoration: none;
    display: block;
    padding: 0.4em;
    color: #CCD9E2;
    font-weight: 300;
    text-decoration: none;
	}

	#toAbout{
	padding-right: 20px;
	text-decoration: none;
	color: white;
	opacity: 1 !important;
		&:hover{
			color: grey;
		}
	}

	#toCV{
	padding-right: 20px;	
	text-decoration: none;
	color: white;
	opacity: 1;
		&:hover{
			color: grey;
		}
	}

	#toContact{
	padding-right: 20px;
	text-decoration: none;
	color: white;
	opacity: 1;
		&:hover{
			color: grey;
		}	
	}
}

.header-profile{
	position: absolute;
	padding: 150px 1px 0px 50px;

	h1{
	color: $white;
	}
	h2{
	color: $white;	
	}
	h3{
	color: $white;	
	}
}

#about {
	display: block;
    background: $white;
    overflow: hidden;
    min-height: 50vh;
    padding-bottom: 40px;
    padding-top: 100px;
    padding-left: 120px;

	h1{
		padding-bottom: 20px;
	}

}

#CV {
	display: block;
    background: $white;
    overflow: hidden;
    min-height: 50vh;
    padding-bottom: 40px;
    padding-left: 120px;

    h1{
    	padding-bottom: 20px;
    }

    p{
    	padding-bottom: 10px;
    }
}

#contact {
	display: block;
    background: $white;
    overflow: hidden;
    min-height: 50vh;
    padding-bottom: 40px;
    padding-left: 120px;

	h1{
		padding-bottom: 20px;
	}
}

.resume-link{
	padding-top: 20px;
}

.btn-large{
  background-color: $white;
  font-size: 20px;
  height: 50px;
  padding: 10px;
  width: 135px;
  color: $grey2 !important;
  display: block;
  border: 2px solid $grey2;
  border-radius: 3px;
  text-decoration: none;
  	
  	&:hover {
    color: $red !important;
    border: 2px solid $red;
    text-decoration: none;
  }
    &:visited{
    	color: $grey2;
    	text-decoration: none;
    }
}.form-group{
	padding-bottom: 20px;
}

.button-contact{
	background-color: $grey2;
	font-size: 20px;
	height: 50px;
	padding: 10px;
	width: 130px;
	color: $white !important;
	display: block;
	border: 2px solid $grey2;
	border-radius: 3px;
	text-decoration: none;
		
		&:hover {
	  background-color: $red;	
	  color: $white !important;
	  border: 2px solid $red;
	  text-decoration: none;
	}
	  &:visited{
	  	color: $grey2;
	  	text-decoration: none;
	  	background-color: $white;

	  }
}

label{
	padding-bottom: 5px;
	font-family: $base-font;
	font-size: 15px;
}

.accounts{
	padding: 10px 0 0 50px;
	font-size: 50px;
}

.fa-github:hover{
	color: $red;
}

.fa-linkedin:hover {
	color: $red;
}

.particles-js-canvas-el{
  width: 100vw !important;
  height: 500px !important;
  background-color: #2B2D42 ; 
  background-size: cover;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: 40px;

}

#cropped-avatar{
  object-fit: cover;
}

.take-width {
  width:100%;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
  margin-left: auto;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #264D6E;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: $grey3}

.show {display:block;}

.pull-right {
  float: right !important;
}