body{
  background-color: $white;

	#pro-line{
		border-top: 1px solid $grey2;
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 80px;
	}
}

.container{
	background-color: $white;
}

.navbar-fixed{
	// display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 3;
    width: 100%;
    background-color: black;
	opacity: 0.2;
}

.nav-head{
	font-size: 17pt;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	padding-right: 150px;


	.nav-head a{
	text-decoration: none;
    display: block;
    padding: 0.4em;
    color: #CCD9E2;
    font-weight: 300;
    text-decoration: none;
	}

	#about1{
	padding-right: 20px;
	text-decoration: none;
		&:hover{
			color: $grey1;
		}
	}

	#CV1{
	padding-right: 20px;	
	text-decoration: none;
		&:hover{
			color: $grey1;
		}
	}

	#contact1{
	padding-right: 20px;
	text-decoration: none;
		&:hover{
			color: $grey1;
		}	
	}
}

.header-profile{
	    margin-bottom: .3rem;
	    padding-top: 200px;
}

#about {
	display: block;
    background: $white;
    height: 100%;
    overflow: hidden;
    min-height: 50vh;
    padding-bottom: 40px;
    padding-top: 300px;

	h1{
		padding-bottom: 20px;
	}

}

#CV {
	display: block;
    background: $white;
    overflow: hidden;
    min-height: 50vh;
    padding-bottom: 40px;

    h1{
    	padding-bottom: 20px;
    }

    p{
    	padding-bottom: 10px;
    }
}

#contact {
	display: block;
    background: $white;
    overflow: hidden;
    min-height: 50vh;
    padding-bottom: 40px;

	h1{
		padding-bottom: 20px;
	}
}

.resume-link{
	padding-top: 20px;
}

.btn-large{
  background-color: $white;
  font-size: 20px;
  height: 50px;
  padding: 10px;
  width: 135px;
  color: $grey2 !important;
  display: block;
  border: 2px solid $grey2;
  border-radius: 3px;
  text-decoration: none;
  	
  	&:hover {
    color: $red !important;
    border: 2px solid $red;
    text-decoration: none;
  }
    &:visited{
    	color: $grey2;
    	text-decoration: none;
    }
}.form-group{
	padding-bottom: 20px;
}

.button-contact{
	background-color: $grey2;
	font-size: 20px;
	height: 50px;
	padding: 10px;
	width: 130px;
	color: $white !important;
	display: block;
	border: 2px solid $grey2;
	border-radius: 3px;
	text-decoration: none;
		
		&:hover {
	  background-color: $red;	
	  color: $white !important;
	  border: 2px solid $red;
	  text-decoration: none;
	}
	  &:visited{
	  	color: $grey2;
	  	text-decoration: none;
	  	background-color: $white;

	  }
}

label{
	padding-bottom: 5px;
	font-family: $base-font;
	font-size: 15px;
}
