<!-- navbar -->
<div class="container">
	<div class="navbar">
	<div class="banner-pending" style="background-image: linear-gradient(-225deg, rgba(85,85,85,0.9) 20%, rgba(60,60,60,0.8) 47%), url(<%= image_path 'sb.jpeg' %>); ">
	    <ul class="nav-head">
	    	<li><a href="About"></a></li>
	    	<li><a href="CV"></a></li>
	    	<li><a href="Contact"></a></li>
	    </ul>
	    <div class="header-profile">

	    	
	    </div>
	</div>
</div>